<div class="element-bg-img"><img src="{{city?.cityImg}}" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
        <li *ngFor="let type of allTypes">
            <a href="#" (click)="changeType(type)">{{type}}</a>
          </li>
    </ul>
  </div>
  <div class="village">
    <h3>Best hotels of {{city.type.cityName}}</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
          <app-hotel-card *ngFor="let hotel of city?.hotels" [hotel]="hotel" (click)="changeProfile(hotel)">
          </app-hotel-card>
      </div>
    </div>
  </div>
</div>
