<div class="element-bg-img"><img src="{{city?.cityImg}}" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
        <li *ngFor="let type of allTypes">
            <a href="#" (click)="changeType(type)">{{type}}</a>
          </li>
    </ul>
  </div>
  <div class="village">
    <h3>Best hotels of {{city.type.cityName}}</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <div class="activity-row" *ngFor="let hotel of city?.hotels" (click)="changeProfile(hotel)">
          <div class="activity-desc">
            <h5>{{hotel.title}}</h5>
            <p>{{hotel.stars}}</p>
            <p>{{hotel.prices}}</p>
            <h6>{{hotel.phoneNumber | phoneNumber}}</h6>
          </div>
          <div class="activity-img">
            <ul>
              <li><img src='{{hotel.img}}' alt=""/></li>
            </ul>
          </div>
          <div class="clear"> </div>
        </div>

      </div>
    </div>
  </div>
</div>
