<div class="teddy-bear">
    <div class="teddy-text">
      <h4>{{selectedHotel?.title}}</h4>
      <span class="w-line"> </span>
      <img src="{{selectedHotel?.img[0]}}" alt="" class="img-responsive">
      </div>
      <div class="teddy-follow">
        <ul>
          <li class="folw-h">
            <h3>{{ selectedHotel?.bookingRate }}</h3>
            <p>Booking</p>
          </li>
          <li>
            <h3>{{ selectedHotel?.tripadvisorRate }}</h3>
            <p>Tripadvisor</p>
          </li>
        </ul>
      </div>
  </div>